header{
    display: flex;
    border: 1px black solid;
    background-color: rgb(236, 201, 2)
    
}
ul{
    display: flex;
    list-style-type: none;

}
li{
    margin-left: 50px;
    
}
a{
    text-decoration: none;
    color: rgb(16, 17, 49);
}
#imagem{
    width: 800px;
}
#imagem1{
    border: 1px solid black;
    
    
}